@model Licenta.ViewModels.InstrumentsViewModel;
@{
    ViewData["Title"] = "Admin Page";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div>
        <input type="text" placeholder="Search.." class="search-box">
    </div>
    <a  asp-area="" asp-controller="AddItem" asp-action="AddItem">Add</a>

    <div class="admin-items-list">

        @foreach (var instrument in Model.Instruments)
        {
            <div class="admin-item">
                
                <div class="admin-item-details">
                    <div>
                        <label>Id: @instrument.Id</label>
                    </div>

                    <div>
                        <label>Name: @instrument.Name</label>
                        <input type="text" id="updateName @instrument.Id" style="visibility: hidden"/>
                        
                    </div>
                    
                    <div>
                        <label>Price: $@instrument.Price</label>
                        <input type="text" id="updatePrice @instrument.Id" style="visibility: hidden" />
                    </div>

                    <div>
                        <label>Quantity: @instrument.Quantity</label>
                        <input type="text" id="updateQuantity @instrument.Id" style="visibility: hidden" />
                    </div>
                    
                    <div style="margin-bottom: 3%">
                        <label>Type: @instrument.Type</label>
                        <input type="text" id="updateType @instrument.Id" style="visibility: hidden" />
                    </div>
                    
                    <div>
                        <input type="button" id="@instrument.Id" onclick="deleteInstrument(this.id)" value="Remove" class="item-button-remove" style="margin-bottom: 5%; " />
                        <input type="button" value="Edit" id="edit @instrument.Id" onclick="reveal(this.id)" class="item-button" style="margin-left: 10px" />
                        <input type="button" value="Confirm" id="confirm @instrument.Id" onclick="updateInstrument(this.id)" class="item-button" style="margin-left: 10px; visibility: hidden;" />
                    </div>

                </div>

            </div>
        }
    </div>

    <button onclick="topFunction()" id="up-botton" title="Go to top">Top</button>



    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("up-botton").style.display = "block";
            } else {
                document.getElementById("up-botton").style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }


        function deleteInstrument(id) {
            var parameters = {
                id: id
            };
            
            $.post("@Url.Action("DeleteInstrument", "AdminPage")", parameters)
            .done(function () {
                console.log('post done');
                location.reload();
            });
        }


        function reveal(id) {
            id = id.replace(/edit /g, '');
            var nameId = "updateName " + id;
            var priceId = "updatePrice " + id;
            var quantityId = "updateQuantity " + id;
            var typeId = "updateType " + id;
            var buttonId = "confirm " + id;
            var editId = "edit " + id;

            if (document.getElementById(nameId).style.visibility === 'hidden') {
                document.getElementById(nameId).style.visibility = 'visible';
            } else {
                document.getElementById(nameId).style.visibility = 'hidden';
            }
            if (document.getElementById(priceId).style.visibility === 'hidden') {
                document.getElementById(priceId).style.visibility = 'visible';
            } else {
                document.getElementById(priceId).style.visibility = 'hidden';
            }
            if (document.getElementById(quantityId).style.visibility === 'hidden') {
                document.getElementById(quantityId).style.visibility = 'visible';
            } else {
                document.getElementById(quantityId).style.visibility = 'hidden';
            }
            if (document.getElementById(typeId).style.visibility === 'hidden') {
                document.getElementById(typeId).style.visibility = 'visible';
            } else {
                document.getElementById(typeId).style.visibility = 'hidden';
            }
            if (document.getElementById(buttonId).style.visibility === 'hidden') {
                document.getElementById(buttonId).style.visibility = 'visible';
            } else {
                document.getElementById(buttonId).style.visibility = 'hidden';
            }

            if (document.getElementById(editId).value === 'Edit') {
                document.getElementById(editId).value = 'Cancel Edit';
                document.getElementById(editId).className = "item-button-remove"
            } else {
                document.getElementById(editId).value = 'Edit';
                document.getElementById(editId).className = "item-button"
            }

        }


        function updateInstrument(id) {
            id = id.replace(/confirm /g, '');
            
            var nameId = "updateName " + id;
            var priceId = "updatePrice " + id;
            var quantityId = "updateQuantity " + id;
            var typeId = "updateType " + id;

            console.log(nameId, priceId, quantityId,typeId);

            var name = document.getElementById(nameId).value;
            var price = document.getElementById(priceId).value;
            var quantity = document.getElementById(quantityId).value;
            var type = document.getElementById(typeId).value;

            var parameters = {
                id : id,
                name: name,
                price: price,
                quantity: quantity,
                type: type
            };
            console.log(parameters);
            $.post("@Url.Action("UpdateInstrument", "AdminPage")", parameters)
                .done(function () {
                    console.log('post done');
                    location.reload();
                });
        }

    </script>


</body>
</html>